@font-face {
    font-family: SansNarrow;
    src: url('../fonts/ptsansnarrow/ptsansnarrow.ttf'),
        url('../fonts/ptsansnarrow/ptsansnarrow.eot'),
        url('../fonts/ptsansnarrow/ptsansnarrow.woff2'),
        url('../fonts/ptsansnarrow/ptsansnarrow.woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: SansNarrow;
    src: url('../fonts/ptsansnarrow/ptsansnarrowbold.ttf'),
        url('../fonts/ptsansnarrow/ptsansnarrowbold.eot'),
        url('../fonts/ptsansnarrow/ptsansnarrowbold.woff2'),
        url('../fonts/ptsansnarrow/ptsansnarrowbold.woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: ProstoSans;
    src: url('../fonts/prostosansbold/prostosansbold.ttf'),
        url('../fonts/prostosansbold/prostosansbold.eot'),
        url('../fonts/prostosansbold/prostosansbold.woff2'),
        url('../fonts/prostosansbold/prostosansbold.woff');
    font-weight: 700;
    font-style: normal;
}


input,
textarea,
button{
    outline: none;
}
a:hover,
a:focus{
    text-decoration: none;
}
body{
    cursor: default;
    color: #fff;
    font-size: 16px;
}
.header{
    position: absolute;
    width: 100%;
    z-index: 100;
    background: rgba(5, 23, 72, 0.9);
    transition: .3s;
}
.fixed {
  position: fixed;
  top:0;
  left: 0;
  z-index: 20;
}

.header .container{
    position: relative;
}
.logo{
    display: inline-block;
    padding-bottom: 20px;
}
.logo img{
    width: 145px;
}
.menu{
    display: inline-block;
}
.menu ul{
    margin-top: 40px;
}
.menu ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0 40px;
}
.menu ul li a{
    color: #fff;
    text-transform: uppercase;
    font-family: ProstoSans, sans-serif;
    font-weight: 700;
    transition: .3s
}
.menu ul li a:hover{
    color: #ed5104;
    text-decoration: underline;
}

/*MOBILE MENU*/
.nav-menu {
    position: fixed;
    display: table !important;
    width: 250px;
    height: 100%;
    right: -250px;
    background: rgba(5, 23, 72, 0.9);
    top: 60px;
    z-index: 999;
    margin: 0;
    padding: 0;
    text-align: center;
}
#over-menu{
	display: none;
	z-index: 50;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#menu-mobile ul{
    list-style-type: none;
    padding: 0;
    height: 100%;
    vertical-align: middle;
    display: table-cell;

}
#menu-mobile ul li{
    margin: 0;
    padding: 15px 10px;
    text-transform: uppercase;
}
#menu-mobile ul li a{
    color: #fff;
}
.menu-mobile_close{
    display: none;
    font-size: 34px;
    padding: 0;
    position: absolute;
    top: 7px;
    right: 17px;
}


.main-banner{
    background-size: cover;
    background: url(../img/banner.png) no-repeat fixed center;
    height: 790px;
    position: relative;
}
.banner-cover{
    background: rgba(0, 0, 0, 0.3);
    height: 100%;
}
.banner-title{
    float: right;
    font-size: 48px;
    text-transform: uppercase;
    position: relative;
    margin-top: 160px;
    font-family: ProstoSans, sans-serif;
    font-weight: 700;
}
.banner-title_underlindes div{
    height: 2px;
    width: 84%;
    position: absolute;
    top: 80px;
    right: 0;
    background: #fff;
}
.banner-title_underlindes div.underline2{
    width: 45%;
    top: 100px;
}
.banner-text{
    border-left: 1px solid #fff;
    padding: 40px 0 0 20px;
    position: absolute;
    bottom: 90px;
    line-height: 25px;
    font-family: SansNarrow, sans-serif;
    font-size: 18px;
    font-weight: 400;
}


.section1{
    background: #ed5104;
    text-transform: uppercase;
    font-size: 22px;
    font-family: ProstoSans, sans-serif;
    font-weight: 700;
}
.section1 .container{
    position: relative;
}
.section1_block{
    display: table;
}
.section1_title{
    display: table-cell;
    padding: 30px 10px 30px 40px;
    line-height: 40px;
    width: 540px;
}
.section1_img{
    display: table-cell;
    vertical-align: middle;
    width: 35px;
    position: relative;
}
.section1_img img{
    width: 40px;
}
.section1_img img.section1-arrow{
    position: absolute;
    bottom: 25px;
    left: 12px;
    width: 17px;
    animation: mouse 1.5s infinite;
    -webkit-transition: 0.5s;
}
.section1 .computer{
    position: absolute;
    right: -60px;
    top: -304px;
}
.section1 .computer img{
    width: 580px;
}

.develop{
    background: url(../img/pattern1.png) no-repeat 38px 46px,
        url(../img/pattern2.png) no-repeat 36% 131px,
        #051748;
    background: url(../img/pattern1.png) no-repeat 38px 46px,
        url(../img/pattern2.png) no-repeat 36% 131px, 
        -moz-linear-gradient(left, #051748 0%, #01091e 50%);
    background: url(../img/pattern1.png) no-repeat 38px 46px,
        url(../img/pattern2.png) no-repeat 36% 131px,
        -webkit-linear-gradient(left, #051748 0%,#01091e 50%);
    background: url(../img/pattern1.png) no-repeat 38px 46px,
        url(../img/pattern2.png) no-repeat 36% 131px, 
        linear-gradient(to right, #051748 0%,#01091e 50%);
    position: relative;
    height: 520px;
}
.develop-left{
    position: absolute;
    bottom: 0;
    padding: 0;
    height: 100%;
}
.develop_title{
    text-transform: uppercase;
    font-size: 32px;
    color: #ed5104;
    position: relative;
    top: 33%;
    font-family: ProstoSans, sans-serif;
    font-weight: 700;
}
.develop_title_underlindes div{
    height: 2px;
    width: 570px;
    position: absolute;
    top: 50px;
    left: 0;
    background: #ed5104;
}
.develop_title_underlindes div.underline2{
    width: 325px;
    top: 67px;
    left: 242px;
}
.develop_text{
    position: relative;
    top: 47%;
    font-family: SansNarrow, sans-serif;
    font-weight: 400;
}
.develop_a{
    position: relative;
    top: 57%;
    display: block;
    background: #ed5104;
    border: 1px solid #ed5104;
    width: 310px;
    height: 50px;
    line-height: 48px;
    color: #fff;
    z-index: 1;
    padding: 0 20px;
    font-size: 22px;
    white-space: nowrap;
    font-family: SansNarrow, sans-serif;
    font-weight: 400;
    overflow: hidden;
    transition: .3s;
}
.develop_a:before{
    content: '';
    position: absolute;
    width: 0;
    height: 300px;
    top: 33%;
    left: 44%;
    background: #fff;
    z-index: -1;
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -webkit-transition: all .3s linear 0s;
    transition: all .3s linear 0s;
}
.develop_a:hover,
.develop_a:focus{
    color: #ed5104;
    background: transparent;
}
.develop_a:hover:before{
    width: 100%;
}
.develop-right {
    background-size: cover;
    background: url(../img/icon2.png) no-repeat center;
    height: 520px;
    width: 45%;
    position: absolute;
    right: 0;
    top: 0;
}
.about{
    position: relative;
    background: url(../img/pattern3.png) no-repeat 44% 29px,          
        #ed5104;
    height: 350px;
    font-family: SansNarrow, sans-serif;
    font-weight: 400;
}
.pattern4{
    position: absolute;
    right: 0;
    top: 0;
    background: url(../img/pattern4.png) no-repeat 95% 5px;
    width: 500px;
    height: 450px;
}
.about .about-text{
    margin: 80px 0 50px;
    position: relative;
}
.about .quot{
    position: absolute;
    width: 35px;
}
.about .quot1{
    top: -30px;
    left: -35px;
}
.about .quot.quot2{
    bottom: -15px;
    right: 158px;
}
.about-img{
    background: url(../img/photo.png) no-repeat center;
    background-size: cover;
    height: 350px;
    position: absolute;
    left: 0;
}
.author{
    font-size: 20px;
    font-family: SansNarrow, sans-serif;
    font-weight: 700;
}


.advantages{
    background-size: cover;
    background: url(../img/bkg.png) no-repeat fixed;
    padding: 80px 0 60px;
    position: relative;
}
.advantages:after{
    content: "";
    background: url(../img/pattern8.png) no-repeat;
    width: 50%;
    height: 130px;
    bottom: -60px;
    left: 44%;
    position: absolute;
}
.patterns1{
    position: absolute;
    bottom: -60px;
    right: 0;
    width: 100%;
    height: 100%;
    background: url(../img/patterns1.png) no-repeat 90% 205px;
}
.advantages_title{
    position: relative;
    text-transform: uppercase;
    color: #051748;
    font-size: 32px;
    font-family: ProstoSans, sans-serif;
    font-weight: 700;
    margin-bottom: 40px;
}
.advantages_title_underlindes div{
    height: 2px;
    width: 570px;
    position: absolute;
    top: 50px;
    left: 0;
    background:  #051748;
}
.advantages_title_underlindes div.underline2{
    width: 332px;
    top: 67px;
    left: 237px;
}
.icon_block{
    height: 150px;
    display: table;
    font-family: SansNarrow, sans-serif;
    font-weight: 400;
}
.icons-img{
    display: table-cell;
    width: 25%;
    vertical-align: middle;
    padding-top: 10px;
}
.icons-img img{
    width: 100px;
}
.icons-text{
    display: table-cell;
    width: 75%;
    vertical-align: middle;
    color: #051748;
}
.icons-title{
    color: #ed5104;
    font-size: 20px;
    margin-bottom: 10px;
    font-family: SansNarrow, sans-serif;
    font-weight: 700;
}


.offers{
    background: url(../img/patterns2.png) no-repeat 76% 23px;
}
.offers_title{
    text-transform: uppercase;
    color: #051748;
    font-size: 32px;
    font-family: ProstoSans, sans-serif;
    font-weight: 700;
    margin: 61px 0 40px;
    position: relative;
}
.offers_title_underlindes div{
    height: 2px;
    width: 520px;
    position: absolute;
    top: 50px;
    left: 0;
    background:  #051748;
}
.offers_title_underlindes div.underline2{
    width: 300px;
    top: 67px;
}
.offer_title{
    color: #ed5104;
    text-transform: uppercase;
    font-size: 22px;
    font-family: ProstoSans, sans-serif;
    font-weight: 700;
    margin: 20px 0;
}
.offer_inf{
    color: #051748;
    margin: 20px 0;
    font-size: 22px;
    font-family: SansNarrow, sans-serif;
    font-weight: 700;
}
.offer_btn{
    display: inline-block;
    background: #ed5104;
    border: 1px solid #ed5104;
    position: relative;
    overflow: hidden;
    height: 40px;
    line-height: 38px;
    color: #fff;
    z-index: 1;
    padding: 0 40px;
    white-space: nowrap;
    font-family: SansNarrow, sans-serif;
    font-weight: 400;
    font-size: 20px;
    transition: .3s;
}
.offer_btn:hover{
    color: #ed5104;
}
.offer_btn:before{
    content: '';
    position: absolute;
    width: 0;
    height: 300px;
    top: 33%;
    left: 50%;
    background: #fff;
    z-index: -1;
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -webkit-transition: all .2s linear 0s;
    transition: all .2s linear 0s;
}
.offer_btn:hover:before{
    width: 100%;
}
.offer_about ul{
    margin: 20px 0;
    padding: 0;
    height: 330px;
}
.offer_about ul li{
    color: #ed5104; 
    margin: 0 10px;
    font-family: SansNarrow, sans-serif;
    font-weight: 400;
}
.offer_about ul li span,
.offer_about ul li span a{
    color: #051748;
}
.offer_about ul li.last-child{
    margin-top: 36px;
    position: relative;
}
.offer_about ul li .plus{
    color: #ed5104;
    font-weight: 700;
    font-size: 25px;
    display: block;
    position: absolute;
    left: 20%;
    top: -33px;
}



.sections2{
    overflow: hidden;
    position: relative;
    height: 252px;
    width: 100%;
}
.section2{
    margin: 50px 0 0;
    padding: 40px 0;
    background:  url(../img/pattern16.png) no-repeat  92% 41px ,#051748;
    font-family: SansNarrow, sans-serif;
    font-weight: 400;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}
.section2-text{
    padding-right: 350px;
}
.section2-title{
    font-size: 18px;
    padding-top: 30px;
    text-transform: uppercase;
    font-family: ProstoSans, sans-serif;
    font-weight: 700;
}
.section22{
    margin: 50px 0 0;
    padding: 40px 0;
    background:  url(../img/section2-img.png) no-repeat  12% 41px ,#ed5104;
    height: 201px;
    position: absolute;
    width: 100%;
    left: 100%;
    top: 0;
}
.section22-text {
    text-transform: uppercase;
    color: #fff;
    font-family: SansNarrow, sans-serif;
    font-weight: 700;
    font-size: 23px;
    padding-left: 370px;
    text-align: right;
}


.map_block{
    margin-top: -1px;
}
#map {
    width: 100%;
    height: 800px;
    position: absolute;
}

.map-overlay {
    background: transparent;
    position: relative;
    width: 100%;
    height: 800px;
    top: 0;
}
.map-overlay_none{
    pointer-events: none;;
}
.map-overlay_auto{
    pointer-events: auto;
}
.our-contacts_block{
    position: absolute;
    top: 50px;
    color: #051748;
    background: #fff;
    padding: 20px 30px;
    width: 600px;
}
.our-contacts_block_title{
    text-transform: uppercase;
    font-size: 32px;
    font-family: ProstoSans, sans-serif;
    font-weight: 700;
    margin: 0 0 50px;
    position: relative;
    display: inline-block;
}
.our-contacts_block_title_underlindes div{
    height: 2px;
    width: 520px;
    position: absolute;
    top: 50px;
    left: 0;
    background: #051748;
}
.our-contacts_block_title_underlindes div.underline2{
    width: 100%;
    top: 67px;
}
.our-contacts_block_text div{
    margin: 15px 0;
    font-family: SansNarrow, sans-serif;
    font-weight: 700;
    font-size: 22px;
}
.our-contacts-img{
    display: inline-block;
    margin: 0 10px -15px 0;
    background: url(../img/sprite.png) no-repeat;
    background-size: 30px;
    width: 30px;
    height:40px;
}
.our-contacts-img.email{
    background-position: 0 -45px;
}
.our-contacts-img.addr{
    background-position: 0 -95px;
}



.contact-us{
    background: url(../img/contact-us_bg.png) no-repeat;
    background-size: cover;
    padding: 80px 0;
    position: relative;
}
.patterns2{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: url(../img/patterns3.png) no-repeat 67% 155px;
}
.contact-us_title{
    text-transform: uppercase;
    color: #051748;
    font-size: 32px;
    font-family: ProstoSans, sans-serif;
    font-weight: 700;
}
.input_title{
    color: #051748;
    font-family: SansNarrow, sans-serif;
    font-weight: 700;   
    font-size: 28px;
    margin-top: 20px;
}
.contact-form{
    z-index: 2;
}
.contact-us input,
.contact-us textarea{
    color: #051748;
    padding: 10px;
    width: 370px;
    border: 2px solid #051748;
    transition: .3s;
}
.contact-us input:focus,
.contact-us textarea:focus{
    border-color: #ed5104;
}
.contact-us textarea{
    margin-bottom: 30px;
}
.contact-us_btn{
    display: inline-block;
    background: #ed5104;
    border: 1px solid #ed5104;
    height: 40px;
    line-height: 38px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #fff;
    width: 150px;
    white-space: nowrap;
    font-family: SansNarrow, sans-serif;
    font-weight: 400;
    font-size: 20px;
    transition: .3s;
}
.contact-us_btn:hover{
    color: #ed5104;;
}
.contact-us_btn:before{
    content: '';
    position: absolute;
    width: 0;
    height: 300px;
    top: 33%;
    left: 50%;
    background: #fff;
    z-index: -1;
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -webkit-transition: all .2s linear 0s;
    transition: all .2s linear 0s;
}
.contact-us_btn:hover:before{
    width: 100%;
}
.message-status{
    display: none;
    height: 35px;
    line-height: 35px;
    color: #051748;
    text-transform: uppercase;
    position: absolute;
    white-space: nowrap;
    left: 0;
}
.message-status_empty{
    display: none;
    height: 35px;
    line-height: 35px;
    color: #ed5104;
    text-transform: uppercase;
    position: absolute;
    white-space: nowrap;
    left: 0;
}
.contact-us .message-status_empty,
.contact-us .message-status{
    left:15px;
}



.footer{
    background: url(../img/pattern19.png) no-repeat 78% ,#051748;
    color: #fff;
    font-family: SansNarrow, sans-serif;
    font-weight: 400;
    padding: 20px 0;
}
.footer-top{
    color: #ed5104;
    margin: 8px 0;
}
.footer-bottom{
    color: #fff;
}
.footer-bottom:hover{
    color: #fff;
}
.footer-bottom img{
    height: 10px;
    margin-left: 3px;
}

/*POP UP*/
.popup{
    display: none;
}
.popup_fixed{
    width: 100%;
    min-height: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
.popup-overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1000;
}
.popup-content{
    margin: 13% auto 0;
    width: 550px;
    padding: 20px 20px 40px;
    background-color: #fff;
    position: relative;
    z-index: 1001;
    text-align: center;
}
.popup-hide{
    color: #051748;
    position: absolute;
    right: 20px;
    font-size: 42px;
    top: 0;
    cursor: pointer;
    transition: .3s;
}
.popup-hide:hover{
    color: #ed5104;
}
.popup{
    color: #051748;
}
.popup-title{
    color: #ed5104;
    text-transform: uppercase;
    font-size: 22px;
    margin: 40px 0;
}
.popup-form input.contact-us_btn{
    display: inline-block;
    background: #ed5104;
    border: 1px solid #ed5104;
    height: 30px;
    line-height: 30px;
    width: 140px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #fff;
    padding: 0 30px;
    white-space: nowrap;
    font-family: SansNarrow, sans-serif;
    font-weight: 400;
    font-size: 18px;
    transition: .3s;
}
.popup-form .contact-us_btn:hover{
    color: #ed5104;
}
.popup-form input.contact-us_btn:before{
    content: '';
    position: absolute;
    width: 0;
    height: 300px;
    top: 33%;
    left: 50%;
    background: #fff;
    z-index: -1;
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -webkit-transition: all .2s linear 0s;
    transition: all .2s linear 0s;
}
.popup-form input.contact-us_btn:hover:before{
    width: 100%;
}
.popup-input_title{
    color: #051748;
    font-family: SansNarrow, sans-serif;
    font-weight: 700;   
    font-size: 28px;
    margin-top: 20px;
}
.popup-form input{
    color: #051748;
    padding: 10px;
    width: 370px;
    border: 2px solid #051748;
    margin: 10px 0 40px;
    transition: .3s;
}
.popup-form input:focus{
    border-color: #ed5104;
}
.popup-content .message-status,
.popup-content .message-status_empty{
    width: 100%;
}
.parallax-window {
    background: transparent;
}
.parallax-window2 {
    background: transparent;
}


@media (max-width: 1370px){
    .main-banner{
        height: 630px;
    }
    .section1 .computer{
        right: 0;
        top: -261px;
    }
    .section1 .computer img{
        width: 500px;
    }
}
@media (max-width: 1199px){
    .menu ul li{
        margin: 0 20px;
    }
    .banner-text{
        font-size: 16px;
    }
    .section1 .computer{
        right: 0;
        top: -209px;
    }
    .section1 .computer img{
        width: 400px;
    }
    .about {
        background-position: 43% 41px;
        background-size: 270px;
    }
    .about .quot.quot2 {
        bottom: -20px;
        right: 109px;
    }
    .advantages:after{
        background-size: 550px;
    }
    .offer_about ul{
        height: 370px;
    }
    .offers {
        background-position: 95% 118px;
        background-size: 548px;
    }
    .patterns1{
        display: none;
    }
    .pattern4 {
        background-position: 95% 12px;
        background-size: 400px;
    }
}
@media (max-width: 991px){
    .header{
        background: rgba(5, 23, 72, 0.9);
    }
    .logo{
        padding: 20px 10px 10px;
    }
    .to-nav-menu{
        float: right;
        font-size: 42px;
        font-weight: 900; 
    }
    .main-banner{
        height: 500px;
        background-position: center;
        background-size: cover;
    }
    .main-banner .container{
        height: 100%;
    }
    .banner-title_underlindes,
    .develop_title_underlindes,
    .advantages_title_underlindes,
    .offers_title_underlindes,
    .our-contacts_block_title_underlindes{
        display: none;
    }
    .banner-title{
        float: none;
    }
    .banner-text{
        bottom: -140px;
        padding: 0 20px;
        position: relative;
    }
    .section1 .computer,
    .section1_img{
        display: none;
    }
    .section1_block{
        display: block;
    }
    .section1_title{
        text-align: center;
        display: block;
        width: 100%;
        padding: 30px 0;
        line-height: normal;
    }
    .about{
        background: #ed5104;
    }
    .about .about-text {
        margin: 50px 0;
    }
    .about .quot {
        display: none;
    }
    .advantages_title{
        font-size: 26px;
    }
    .develop-left{
        width: 42%;
    }
    .develop{
        background: #051748;
        background: -moz-linear-gradient(left, #051748 0%, #01091e 50%);
        background:-webkit-linear-gradient(left, #051748 0%,#01091e 50%);
        background: linear-gradient(to right, #051748 0%,#01091e 50%);
        height: 320px;
    }
    .develop-right{
        height: 320px;
    }
    .develop_title{
        font-size: 26px;
        top: 20%;
    }
    .develop_text{
        top: 28%;
    }
    .develop_a{
        top: 33%;
        width: 303px;
        height: 45px;
        line-height: 45px;
        font-size: 16px;
    }
    .icon_block{
        height: 160px;
    }
    .icons-img img{
        width: 80px;
    }
    .offers {
        background: none;
    }
    .offers_title{
        font-size: 26px;
    }
    .offer{
        width: 50%;
    }
    .offer_title{
        height: 62px;
    }
    .offer_about ul {
        height: 330px;
    }
    .section2{
        background: #051748;
    }
    .section2-text{
        padding-right: 0;
    }
    .section22{
        background: #ed5104;
    }
    .section22-text{
        padding-left: 0;
    }
    .map-overlay,
    #map{
        height: 600px;
    }
    .our-contacts_block_title{
        font-size: 26px;
        margin-bottom: 20px;
    }
    .advantages:after,
    .pattern4{
        display: none;
    }
    .our-contacts_block{
        width: 500px;
    }
    .contact-us_title{
        padding-right: 40px;
        font-size: 26px;
    }
    .contact-form {
        width: 100%;
    }
    .input_title{
        font-size: 26px;
        display: block;
    }
    .contact-us textarea {
        display: block;
    }
    .footer {
        background: #051748;
    }
}
@media (max-width: 767px){
    .nav-menu{
        width: 200px;
    }
    .main-banner {
        height: 310px;
        background-position: 17% 0;
    }
    .banner-text{
        text-align: center;
    }
    .banner-title{
        text-align: center;
        margin-top: 80px;
        font-size: 34px;
    }
    .banner-text{
        border: none;
        bottom: -75px;
        padding: 0;
    }
    .develop-left {
        width: 100%;
        text-align: center;
        padding: 0 10px;
        background: #051748;
        background: -moz-linear-gradient(left, #051748 0%, #01091e 100%);
        background: -webkit-linear-gradient(left, #051748 0%,#01091e 100%);
        background: linear-gradient(to right, #051748 0%,#01091e 100%); 
    }
    .develop-right{
        display: none;
    }
    .develop_title{
        top: 16%;
    }
    .develop_text {
        top: 23%;
    }
    .develop_a {
        top: 35%;
        margin: 0 auto;
    }
    .about{
        text-align: center;
        position: relative;
        height: 550px;
        padding-top: 280px;
    }
    .about-img{
        width: 400px;
        height: 275px;
        top: 15px;
        margin-left: -200px;
        left: 50%;
    }
    .about .about-text{
        margin: 20px 0;
    }
    .advantages{
        padding: 30px 0;
    }
    .advantages_title{
        text-align: center;
        margin-bottom: 0;
    }
    .icon_block{
        width: 100%;
        height: 170px;
        margin: 20px 0;
    }
    .icons-title{
        margin: 10px 0;
    }
    .icons-img,
    .icons-text{
        width: 100%;
        display: block;
        text-align: center;
    }
    .offers{
        text-align: center;
    }
    .offers_title{
        margin: 20px 0;
    }
    .offer{
        margin: 25px 0 40px;
        width: 100%;
    }
    .offer_title{
        height: auto;
    }
    .offer_about ul{
        width: 50%;
        text-align: left;
        margin: 20px auto;
        height: auto;
    }
    .sections2,
    .section2,
    .section22{
        text-align: center;
        margin-top: 0;
        height: 220px;
    }
    .section22-text{
        text-align: center;
    }
    .map_block {
        margin-top: 256px;
    }
    .our-contacts_block {
        width: 100%;
        position: absolute;
        left: 0;
        top: -256px;
    }
    .popup-content{
        width: 500px;
    }
}
@media (max-width: 525px){
    .banner-title{
        font-size: 26px;
        margin-top: 85px;
    }
    .banner-text {
        bottom: -35px;
    }
    .banner-text span{
        display: block;
        margin-bottom: -20px;
    }
    .section1{
        font-size: 20px;
    }
    .develop_text{
        padding: 0 30px;
    }
    .about{
        height: 600px;
    }
    .icon_block {
        padding: 0 40px;
    }
    .offer_about ul{
        width: 80%;
    }
    .section22-text{
        font-size: 20px;
    }
    .patterns2{
        display: none;
    }
    .contact-us input, .contact-us textarea{
        width: 80%;
    }
    .popup-content{
        width: 400px;
    }
    .contact-us_title{
        padding-right: 0;
        text-align: center;
    }
    .contact-form {
        text-align: center;
    }
    .contact-us textarea {
        margin: 0 auto 30px;
        resize: none;
    }
    .message-status,
    .message-status_empty{
        left: 0;
    }
    .contact-us .message-status_empty,
    .contact-us .message-status {
        left: 0;
        width: 100%;
    }
}
@media (max-width: 449px){
    .main-banner {
        background-position: 19% 0;
    }
    .banner-text {
        bottom: 0;
    }
    .banner-text span{
        display: inline-block;
    }
    .section1_title{
        padding: 15px 0 30px;
    }
    .section1_title span{
        display: block;
        margin-bottom: -20px;
    }
    .develop_title{
        top: 10%;
    }
    .develop_text {
        top: 18%;
        padding: 0 5px;
    }
    .develop_a{
        top: 24%;
        width: 255px;
    }
    .about{
        height: 670px;
    }
    .about-img{
        width: 100%;
        margin-left: -0;
        left: 0;
        top: -1px;
    }
    .icon_block {
        padding: 0 15px;
    }
    .offer_about ul{
        width: 100%;
    }
    .contact-us_title{
        font-size: 23px;
    }
    .input_title {
        font-size: 23px;
        margin-top: 15px;
    }
    .section2-title{
        padding-top: 20px;
    }
    .sections2,
    .section2,
    .section22{
        height: 270px;
    }
    .map-overlay, #map {
        height: 550px;
    }
    .map_block {
        margin-top: 210px;
    }
    .our-contacts_block{
        top: -210px;
    }
    .our-contacts_block_title {
        font-size: 22px;
        margin-bottom: 0;
    }
    .our-contacts_block_text div {
        font-size: 17px;
    }
    .our-contacts-img {
        margin: 0 5px -15px 0;
        background-size: 25px;
        width: 25px;
        height: 35px;
    }
    .our-contacts-img.email {
        background-position: 0 -38px;
    }
    .our-contacts-img.addr {
        background-position: 0 -80px;
    }
    .popup-content{
        width: 100%;
    }
    .popup-form input{
        width: 100%;
    }
}


@keyframes mouse{
    20%  {transform: translateY(5px)}
    50%  {transform: translateY(-5px)}
    100% {transform: translateY(0px)}
}

